<% include ../layout/header.html %>

<style>
    #chart {
        margin: 10px 10px 10px 10px;
        width: 100%;
        max-width: 800px;
        height: 400px;
    }
</style>

<div class="row">

    <% include ../layout/sidebar.html %>

    <div class="col-lg-9">

        <div class="page-header">
            <h1>Cigarette <small>- Your data</small></h1>
        </div>

        <% include ../templates/messages.html %>

        <div id="chart"></div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Code</th>
                <th>Quantity</th>
                <th>Date</th>
                <th>Time</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody class="qs-item-container">
            <% if(typeof cigarettes !== 'undefined' && cigarettes.length > 0) {%>
            <% include ../templates/cigarette.html %>
            <% } %>
            </tbody>
        </table>

        <form method="post" class="qs-submit well" action="<%=host%>/cigarette" role="form">
            <p><strong>Add new cigarette data</strong></p>
            <div class="form-group">
                <input type="text" name="cigarette[quantity]" class="form-control" id="value" placeholder="Value">
            </div>
            <div class="form-group">
                <div class="bfh-datepicker" data-name="cigarette[date]"></div>
            </div>
            <div class="form-group">
                <div class="bfh-timepicker" data-name="cigarette[time]" data-mode="12h"></div>
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>

    </div>

</div>

<script src="http://yui.yahooapis.com/3.14.1/build/yui/yui-min.js"></script>

<script type="text/javascript">
    YUI().use('charts', function (Y)
    {
        //dataProvider source
        var values = JSON.parse('<%- chart %>');

        //instantiate the chart
        new Y.Chart({
            dataProvider: values,
            render: '#chart',
            styles: { axes: { date: { label: { rotation: -45 } } } },
            categoryKey: "date",
            categoryType: "time"
        });

    });
</script>

<% include ../layout/footer.html %>
