<% include ../layout/header.html %>

<!-- Example row of columns -->
<div class="row">

    <% include ../layout/sidebar.html %>

    <div class="col-lg-9">

        <div class="page-header">
            <h1>Sleep <small>- Your data</small></h1>
        </div>

        <% include ../templates/messages.html %>

        <h2>Minutes of sleep per day</h2>

        <div id="minutes"></div>

        <h2>Over than 6 hours of sleep a day</h2>

        <div id="pie"></div>

        <form method="post" class="qs-submit well" action="<%=host%>/sleep" role="form">
            <p><strong>Add new sleep data</strong></p>
            <p>Sleep start</p>
            <div class="form-group">
                <div class="bfh-datepicker" data-name="sleep[start_date]"></div>
            </div>
            <div class="form-group">
                <div class="bfh-timepicker" data-name="sleep[start_time]" data-mode="12h"></div>
            </div>
            <p>Sleep end</p>
            <div class="form-group">
                <div class="bfh-datepicker" data-name="sleep[end_date]"></div>
            </div>
            <div class="form-group">
                <div class="bfh-timepicker" data-name="sleep[end_time]" data-mode="12h"></div>
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>

    </div>

</div>

<script src="http://yui.yahooapis.com/3.14.1/build/yui/yui-min.js"></script>

<script type="text/javascript">
    var minutes = JSON.parse('<%- JSON.stringify(charts.minutes) %>');
    var pie = JSON.parse('<%- JSON.stringify(charts.pie) %>');

    YUI().use('charts-legend', function (Y) {
        var mychart = new Y.Chart({
            dataProvider: minutes,
            render: '#minutes',
            styles: { axes: { date: { label: { rotation: -45 } } } },
            categoryKey: 'date',
            categoryType: 'time'
        });

        new Y.Chart({
            render: '#pie',
            categoryKey: 'k',
            seriesKeys: ['val'],
            dataProvider: [{k: '> 7 hours', val: pie.more},{k: '< 7 hours', val: pie.less}],
            type: 'pie',
            legend: { position: 'right' },
            seriesCollection: [ { categoryKey: 'k', valueKey: 'val' } ]
        });
    });
</script>

<% include ../layout/footer.html %>
