<% include ../layout/header.html %>

<style>
    #minutes {
        margin: 10px 10px 10px 10px;
        width: 100%;
        height: 400px;
    }
    #pie {
        margin: 10px 10px 10px 10px;
        width: 100%x;
        height: 400px;
    }
</style>

<!-- Example row of columns -->
<div class="row">

    <% include ../layout/sidebar.html %>

    <div class="col-lg-9">

        <div class="page-header">
            <h1>Sleep <small>- Your data</small></h1>
        </div>

        <% include ../templates/messages.html %>

        <h2>Minutes of sleep per day</h2>

        <div id="minutes"></div>

        <h2>Over than 6 hours of sleep a day</h2>

        <div id="pie"></div>

        <form method="post" class="qs-submit form-inline well" action="<%=host%>/sleep" role="form">
            <p>Add new sleep data</p>
            <div class="form-group">
                <input type="text" name="sleep[start_date]" class="form-control datepicker" id="start_date" placeholder="Start">
                <div class="input-append bootstrap-timepicker">
                    <input type="text" name="sleep[start_time]" class="form-control timepicker" id="start_time">
                    <span class="add-on"><i class="icon-time"></i></span>
                </div>
            </div>
            <div class="form-group">
                <input type="text" name="sleep[end_date]" class="form-control datepicker" id="end_date" placeholder="End">
                <div class="input-append bootstrap-timepicker">
                    <input type="text" name="sleep[end_time]" class="form-control timepicker" id="end_time">
                    <span class="add-on"><i class="icon-time"></i></span>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>

    </div>

</div>

<script src="http://yui.yahooapis.com/3.14.1/build/yui/yui-min.js"></script>

<script type="text/javascript">
    var minutes = JSON.parse('<%- JSON.stringify(charts.minutes) %>');
    var pie = JSON.parse('<%- JSON.stringify(charts.pie) %>');

    YUI().use('charts', function (Y) {
        var mychart = new Y.Chart({
            dataProvider: minutes,
            render: '#minutes',
            styles: { axes: { date: { label: { rotation: -45 } } } },
            categoryKey:"date",
            categoryType:"time"
        });

        Y.PieSeries.prototype._defaultSliceColors =  ["green", "red"];
        var pieGraph = new Y.Chart({
            render: '#pie',
            categoryKey: 'k',
            seriesKeys: ['val'],
            dataProvider: [{k: 'more', val: pie.more},{k: 'less', val: pie.less}],
            type: 'pie',
            seriesCollection: [ { categoryKey: 'k', valueKey: 'val' } ]
        });
    });
</script>

<% include ../layout/footer.html %>