<% include ../layout/header.html %>

<style>
    #chart {
        margin: 10px 10px 10px 10px;
        width: 100%;
        max-width: 800px;
        height: 400px;
    }
    #pie {
        margin: 10px 10px 10px 10px;
        width: 100%;
        height: 400px;
    }
</style>

<div class="row">

    <% include ../layout/sidebar.html %>

    <div class="col-lg-9">

        <div class="page-header">
            <h1>Sport <small>- Your data</small></h1>
        </div>

        <% include ../templates/messages.html %>

        <h2>Sports for each month</h2>
        <div id="chart"></div>

        <h2>Sport repartition</h2>
        <div id="pie"></div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Code</th>
                <th>Type</th>
                <th>Duration</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody class="qs-item-container">
            <% if(typeof sports !== 'undefined' && sports.length > 0) {%>
            <% include ../templates/sport.html %>
            <% } %>
            </tbody>
        </table>

        <form method="post" class="qs-submit well" action="<%=host%>/sport" role="form">
            <p><strong>Add new sport data</strong></p>
            <div class="form-group">
                <input type="text" name="sport[type]" class="form-control" id="type" placeholder="Type">
            </div>
            <div class="form-group">
                <input type="text" name="sport[duration]" class="form-control" id="duration" placeholder="Duration">
            </div>
            <div class="form-group">
                <div class="bfh-datepicker" data-name="sport[date]"></div>
            </div>
            <div class="form-group">
                <div class="bfh-timepicker" data-name="sport[time]" data-mode="12h"></div>
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>

    </div>

</div>

<script src="http://yui.yahooapis.com/3.14.1/build/yui/yui-min.js"></script>

<script type="text/javascript">

    var chartValues = JSON.parse('<%- chart %>');
    var pieValues = JSON.parse('<%- pie %>');

    YUI().use('charts', function (Y) {

        var axes = {
            financials:{
                keys: ['Football', 'Handball', 'Basketball', 'Running', 'Byclicle', 'Tennis'],
                position: 'right',
                type: 'numeric',
                styles:{
                    majorTicks:{
                        display: 'none'
                    }
                }
            },
            dateRange:{
                keys: ['date'],
                position: 'bottom',
                type: 'category',
                styles:{
                    majorTicks:{ display: 'none' },
                    label: { rotation:-45, margin: { top:5 } }
                }
            }
        };

        new Y.Chart({
            type: 'column',
            categoryKey: 'date',
            dataProvider: chartValues,
            axes: axes,
            horizontalGridlines: true,
            verticalGridlines: true,
            legend: { postion: 'right' },
            seriesCollection: [
                  { xKey: 'date', yKey: 'Football', yDisplayName: 'Football' }
                , { xKey: 'date', yKey: 'Handball', yDisplayName: 'Handball' }
                , { xKey: 'date', yKey: 'Basketball', yDisplayName: 'Basketball' }
                , { xKey: 'date', yKey: 'Running', yDisplayName: 'Running' }
                , { xKey: 'date', yKey: 'Byclicle', yDisplayName: 'Byclicle' }
                , { xKey: 'date', yKey: 'Tennis', yDisplayName: 'Tennis' }
            ],
            render: '#chart'
        });

        new Y.Chart({
            render: '#pie',
            categoryKey: 'type',
            seriesKeys: ['value'],
            dataProvider: pieValues,
            type: 'pie',
            seriesCollection:[ { categoryKey: 'type', valueKey: 'value' }
            ]
        });
    });

</script>

<% include ../layout/footer.html %>
