<!DOCTYPE html>
<html>
<head>
    <title><%=pageInfos.title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/bootstrap-formhelpers.min.css" rel="stylesheet" media="screen">
    <link href="/css/styles.css" rel="stylesheet" media="screen">
</head>
<body>

    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="<%=host%>">Quantified-Self Client</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="<%=(pageInfos.id === 'page-index' ? 'active': '') %>"><a href="<%=host%>">Home</a></li>
                </ul>
                <% if(typeof session !== 'undefined' && typeof session.user !== 'undefined' && typeof session.user.access_token !=='undefined') { %>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Logged in as <%=session.user.username%> <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="<%=host%>/account/settings" class="<%=(pageInfos.id === 'page-settings' ? 'active': '') %>">Settings</a></li>
                            <li><a href="<%=host%>/logout">Log out</a></li>
                        </ul>
                    </li>
                </ul>
                <% } %>
            </div>
        </div>
    </div>

    <div id="<%=pageInfos.id%>" class="container <%=pageInfos.class%>">