<div class="col-lg-3">

  <div class="list-group">
    <a href="<%=host%>/weight" class="list-group-item <%=(pageInfos.id === 'page-weight' ? 'active': '') %>">
      Weight
    </a>
    <a href="<%=host%>/height" class="list-group-item <%=(pageInfos.id === 'page-height' ? 'active': '') %>">
      Height
    </a>
    <a href="<%=host%>" class="list-group-item">
      Locations
    </a>
    <a href="<%=host%>/sleep" class="list-group-item <%=(pageInfos.id === 'page-sleep' ? 'active': '') %>">
      Sleep
    </a>
    <a href="<%=host%>/drink" class="list-group-item <%=(pageInfos.id === 'page-drink' ? 'active': '') %>">
      Drink
    </a>
    <a href="<%=host%>/cigarette" class="list-group-item <%=(pageInfos.id === 'page-cigarette' ? 'active': '') %>">
      Cigarette
    </a>
    <a href="<%=host%>/sport" class="list-group-item <%=(pageInfos.id === 'page-sport' ? 'active': '') %>">
      Sport
    </a>
  </div>

</div>
